<html lang="ja"> 
<head> 
<title>AR.Drone. Voice Controller</title> 
<style type="text/css">

 #talk_name {
 height : 100px;
 width : 500px;
 font-size : 50px
}
 #emergency {
 height : 100px;
 width : 200px;
 font-size : 20px;
}
</style>
<script>
function speechInput() {
var recognized = document.getElementById('recognition').value;
var textarea = document.getElementById('talk_name')
textarea.value = recognized;
document.superform.submit();
}
function toggleLang(){
var current_lang = document.documentElement.lang
if (current_lang == "ja" ) {
document.documentElement.lang="en"
document.getElementById("switch_lang").innerText = "English mode"
} else {
document.documentElement.lang="ja"
document.getElementById("switch_lang").innerText = "Japanese mode"
}
}

function setJa(){
document.documentElement.lang="ja"
}
function setEmergency(){
var textarea = document.getElementById('talk_name')
textarea.value = "emergency stop";
document.superform.submit();
}

</script>
</head> 
<body> 

<center>
<br />
<br />
<br />
<div id = "main"><font size="20">AR.Drone Voice Controller</font></div>
<br />

<%= form_for @talk, :url=>{ :action => 'create' },:html => {:name => "superform"}  do |f| %>
<%= f.text_field :name ,:class => 'recognizer' %>
<%= f.submit  %>
<% end %>
<br />
<br />

<input type="text" id="recognition" x-webkit-speech onwebkitspeechchange="speechInput();" />

<br />
<br />
<br />
<button id="switch_lang" class="btn" onclick="toggleLang()">Japanese mode</button>

<br />
<br />
<%= link_to 'Check status code',:action => 'result'%>
<br />
<br />
<button id="emergency" class="btn btn-danger" onclick="setEmergency()">Emergency stop</button>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="author"><h3>Produced by Shohei Aoki, 2012</h3></div>

</center>
</body> 
</html> 
