<html lang="ja"> 
<head> 
<title>AR.Drone. Voice Controller</title> 
<style type="text/css">

 #talk_name {
 height : 100px;
 width : 500px;
 font-size : 50px
}
</style>
<script>
function speechInput() {
var recognized = document.getElementById('recognition').value;
var textarea = document.getElementById('talk_name')
textarea.value = recognized;
document.superform.submit();
}
function setEn(){
document.documentElement.lang="en"
}
function setJa(){
document.documentElement.lang="ja"
}

</script>
</head> 
<body> 

<center>
<br />
<br />
<br />
<div id = "main"><font size="20">AR.Drone Voice Controller</font></div>
<br />

<%= form_for @talk, :url=>{ :action => 'create' },:html => {:name => "superform"}  do |f| %>
<%= f.text_field :name ,:class => 'recognizer' %>
<%= f.submit  %>
<% end %>
<br />
<br />

<input type="text" id="recognition" x-webkit-speech onwebkitspeechchange="speechInput();" />

<br />
<br />
<br />
<button id="english" class="btn btn-primary" onclick="setEn()">English</button>
<button id="japanese" class="btn btn-danger" onclick="setJa()">Japanese</button>
<br />
<br />
<%= link_to 'Check status code',:action => 'result'%>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="author"><h3>Produced by Shohei Aoki, 2012</h3></div>

</center>
</body> 
</html> 
