<br />
<br />
<center>
<p><font color="red"><h2>音声認識された結果</h2></font></p>
<p><h2><%= @talk.name %></h2></p>
<br />
<p><font color="blue"><h2>ステータスコード</h2></font></p>
<div id="hoge"><h2><%= @talk.status %></h2></div>
</center>
