<br />
<br />
<center>
<p><font color="red"><h2>音声認識された結果</h2></font></p>
<p><h2><%= @talk.name %></h2></p>
<br />
<p><font color="blue"><h2>ステータスコード</h2></font></p>
<h2><div id="hoge"><%= @talk.status %></div></h2>
</center>
